# https://editorconfig.org/
# https://marketplace.visualstudio.com/items?itemName=EditorConfig.EditorConfig
#
# EditorConfig helps maintain consistent coding styles for multiple
# developers working on the same project across various editors and IDEs.
#

root = true

[*]
charset = utf-8

# Unix-style newlines
end_of_line = lf

# ensure file ends with a newline when saving
insert_final_newline = true

# remove any whitespace characters preceding newline characters
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false

[*.{yml,yaml}]
indent_size = 2

[*.json]
indent_size = 2

[*.js]
indent_size = 4

[*.jsx]
indent_size = 4
