:root {
    --light-gray: #6a737d;
    --gray: #586069;
    --dark-gray: #24292e;
    --blue: #274466;
    --light-blue: #eff7ff;
}

@media (min-width: 544px) {
    .forgejo-tooltip--large {
        min-width: 320px;
    }
}

/* Forgejo Tooltip */
.forgejo-tooltip .box {
    background-color: white;
    box-shadow: 0 1px 15px rgba(27,31,35,.15);
    position: relative;
    width: 360px;
    border-radius: 4px;
}

.forgejo-tooltip--bottom-left, .forgejo-tooltip--top-left {
    left: -9px;
    margin-left: 0;
}

/* Header */
.forgejo-tooltip .header {
    color: var(--light-gray);
    font-size: 12px;
    white-space: nowrap;
}

.forgejo-tooltip .header a {
    text-decoration: none;
    color: var(--gray);
    display: inline-block;
}

/* Body */
.forgejo-tooltip .body > span {
    line-height: 1.25;
}

/* Info */
.forgejo-tooltip .tooltip-info {
    line-height: 1.25;
    display: flex;
    flex-direction: column;
}
.forgejo-tooltip .tooltip-info > a, .forgejo-tooltip .tooltip-info > a:hover {
    display: block;
    text-decoration: none;
    color: var(--dark-gray);
}
.forgejo-tooltip .tooltip-info > a span {
    color: var(--light-gray);
}

.forgejo-tooltip .tooltip-info h5 {
    font-weight: 600;
    font-size: 14px;
    display: inline;
}

.forgejo-tooltip .tooltip-info .markdown-text {
    max-height: 150px;
    line-height: 1.25;
    overflow: hidden;
    word-break: break-word;
    word-wrap: break-word;
    overflow-wrap: break-word;
    font-size: 12px;
}

.forgejo-tooltip .tooltip-info .markdown-text::-webkit-scrollbar {
    display: none;
}

.forgejo-tooltip .see-more {
    font-weight: 600;
    font-size: 12px;
}

/* Labels */
.forgejo-tooltip .labels {
    justify-content: flex-start;
    align-items: center;
}

.forgejo-tooltip .label {
    height: 20px;
    padding: .15em 4px;
    font-size: 12px;
    font-weight: 600;
    line-height: 15px;
    border-radius: 2px;
    box-shadow: inset 0 -1px 0 rgba(27,31,35,.12);
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 125px;
}

.forgejo-tooltip .base-head {
    display: flex;
    line-height: 1;
    align-items: center;
}

.forgejo-tooltip .commit-ref {
    position: relative;
    display: inline-block;
    padding: 0 5px;
    font: .75em/2 SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
    color: var(--blue);
    background-color: var(--light-blue);
    border-radius: 3px;
    max-width: 140px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
